@import java.util._

@import helper._
@import models.database._
@import java.util
@(deviceId: String)(registeredCategories: List[String])(categories: List[Category])

@main("Update Categories") {
    <div class="item">
        @*<img src="@routes.Assets.versioned("images/createUser.jpg")" alt="">*@
        <div class="container create-user-outer">
            <div class="row create-user-form">
                @*<h1>Register</h1>*@
                <div class="text-center col-xs-12 create-user-inner">
                    <p class="lead">Update your categories</p>
                    @form(routes.CategoryController.updateCategories, 'class -> "form-horizontal", 'id -> "select2Form") {
                        <div class="form-group">
                            <select name="categories" class="form-control select2-select"
                            multiple data-placeholder="Categories">
                            @for(category <- categories) {
                                @if(registeredCategories.contains(category.getName)) {
                                    <option value="@category.getName" selected>@category.getName</option>
                                } else {
                                    <option value="@category.getName">@category.getName</option>
                                }
                            }
                            </select>
                        </div>
                        <input type="hidden" name="deviceId" value=@deviceId>
                        <div class="form-group">
                            <div class="col-xs-12"></div>
                            <button type="submit" class="btn btn-primary btn-lg">Update</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
    <script type="text/javascript">
            $('select').select2();
    </script>
}